<a
  href='{{url}}'
  target='_blank'
  style='display: inline-block; padding: 12px 30px; font-size: 16px; font-weight: 600; color: #ffffff; text-decoration: none; border-radius: 4px; -webkit-text-size-adjust: none; mso-hide: all; background-color: #0A4AE6;'
>
  {{text}}
</a>